.main-layout {
    display: grid;
    grid-template-rows: flex; 
    grid-template-columns: 700px 200px; /* Set the width for the columns */
    gap: 60px;
    padding: 10px;
    padding-top: 20px;
   
  }
  
  h1{
    justify-content: center; 
    align-items: center;
    text-align: center; 
    color: #d7d8d7;
  }
  
  h2{
    justify-content: center; 
    align-items: center;
    text-align: center; 
    color: #d7d8d7;
  }


  
  .main-layout > div {
    background-color: rgb(44, 44, 63);
    border: 1px solid rgb(11, 11, 11);
    text-align: flex;
    font-size: 12px;
    border-radius: 3px;
    justify-content: center; 
  }

  #groups{
    grid-template-rows: 200px;

  }

  
  
  #create-post, #show-form  {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background-color: #5b93eb;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }

  #show-form{
    align-self: flex-end;
    padding-top: 10px;
    padding-left: 20px;

  }
  
  #posts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: top; 
    height: fit-content; 
    width: fit-content;
    justify-content: center;
    padding-left: 90px;
    
  }

  #post-form {
    display: none;
    padding: white;
    padding: 40px;
    margin: 20px;
    background-color: rgb(167, 145, 167);
    border-radius: 10px;
}

  .file-input{
    display: none; /* Hide the file input element */
  }

  #username, #description{
    padding: 10px;
    width: 60%;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #image{
    padding: 10px;
    width: 60%;
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;

  }
  
  .file-label,.Username {
    padding: 10px;
    background-color: #d7d8d7;
    color: #141313;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
 
  #posts {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center; /* Center the posts horizontally */
  }
  
  .post {
    border: 1px solid purple;
    padding: 10px;
    margin-bottom: 10px;
   
    max-width: 700px; /* Adjust the maximum width according to your preference */
    display: flex;
    justify-content: center;
    flex-direction: column; /* Display items in a column */
    align-items: center; /* Center items horizontally within the post */
   
  }
  
  .post img {
    max-width: 100%; /* Adjust the max-width for the image */
    height: auto;
    margin-bottom: 10px; /* Add margin to separate the image from the content */
  }
  

  
  @media screen and (max-width: 768px) {
    .main-layout {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  /* Media query for screens narrower than 480px */
@media screen and (max-width: 480px) {
    .main-layout {
      grid-template-columns: 1fr; /* Single column for very small screens */
    }
  }
 /* like and comments styles */


  .like-button, .comment-button {
    color: #3498db;
    background-color: rgb(44, 44, 63);
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.like-button.liked {
  background-color: #e74c3c; /* Red color */
  color: #fff;
}

